#feature-wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('/img/main/main-back.png');
    background-repeat:  no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
 }

#feature-wrap .overlay {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feature-wrap .menu-toggle-box {
    width: 77.5rem;
    margin-top: 10.75rem;
    background: #00000066;
    border-radius: 2.75rem;
    border: 1px solid rgba(204, 223, 241, 0.08);
    backdrop-filter: blur(24px);
    box-shadow:
            -0.5px -0.5px 0px 0px rgba(255, 255, 255, 0.24) inset,
            0.6px 0.6px 1px 0px rgba(255, 255, 255, 0.12) inset;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature-wrap .menu-toggle-box .menu-toggle {
    flex: 1;
    border-radius: 2.375rem;
    padding: 1rem 0;
    font-size: 1.6875rem;
    font-weight: 700;
    text-align: center;
    color: white;
    opacity: 60%;
    transform: scaleY(0.95);
    transform-origin: center;
    letter-spacing: 0.05em;
    background: transparent;
    border: 1px solid transparent;
}

#feature-wrap .menu-toggle-box .menu-toggle.active {
    background: linear-gradient(0deg, rgba(0, 94, 184, 0.24), rgba(0, 94, 184, 0.24)),
    linear-gradient(107.56deg, rgba(0, 147, 184, 0.12) 0%, rgba(0, 94, 184, 0.32) 69.71%, rgba(0, 94, 184, 0) 100%);
    border: 1px solid rgba(204, 223, 241, 0.12);
    opacity: 100%;
}

#feature-wrap.fade-in {
    opacity: 1;
}

#feature-wrap.fade-out {
    opacity: 0;
}

/* Contents */
#feature-wrap .contents {
    margin-top: 4.5rem;
    width: 100vw;
    padding: 0 11.25rem;
    box-sizing: border-box;
}

#feature-wrap .contents .title-box {
    margin-bottom: 3.5rem;
}

#feature-wrap .contents .title-box .sub-title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #CCDFF1;
    margin-bottom: 0.25rem;
}

#feature-wrap .contents .title-box .title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    background: linear-gradient(90deg, #F3F7FD 0%, #919397 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#feature-wrap .contents .cont-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    box-sizing: border-box;
}

#feature-wrap .contents .cont-wrap .cont-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
}

#feature-wrap .contents .cont-wrap .cont-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
}

#feature-wrap .contents .cont-wrap .cont-title .dot {
    color: #005EB8;
    font-size: 1.75rem;
    line-height: 2.5rem;
}

#feature-wrap .contents .cont-wrap .cont-title .main {
    color: white;
    font-size: 1.75rem;
    line-height: 2.5rem;
}

#feature-wrap .contents .cont-wrap .cont-title .line {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #F3F7FD;
    opacity: 32%;
}

#feature-wrap .contents .cont-wrap .cont-title .qty {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #CCDFF1;
}

#feature-wrap .contents.sec .cont-wrap .cont-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 두 번째 탭(contents.sec)에서만 적용되는 wrap */
#feature-wrap .contents.sec .card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;   /* 중앙 정렬 */
}

/* card-wrap 안의 cont-title 및 cont-card는 왼쪽 정렬 */
#feature-wrap .contents.sec .card-wrap,
#feature-wrap .contents.sec .card-wrap .cont-card {
    align-items: flex-start;   /* 왼쪽 정렬 */
    justify-content: flex-start;
}

#feature-wrap .contents .cont-wrap .cont-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 2.5rem;
    border-radius: 1rem;
    background: linear-gradient(0deg, rgba(204, 223, 241, 0.04), rgba(204, 223, 241, 0.04)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)),
    linear-gradient(107.56deg, rgba(0, 147, 184, 0.0192) 0%, rgba(0, 94, 184, 0.0576) 69.71%, rgba(0, 94, 184, 0.0096) 100%);
    box-shadow: -0.5px -0.5px 0 0 #FFFFFF3D inset,
    0.6px 0.6px 1px 0 #FFFFFF1F inset;
    backdrop-filter: blur(24px);
}

#feature-wrap .contents .cont-wrap .cont-card button {
    background: transparent;
    border: none;
}

#feature-wrap .contents .cont-wrap .cont-card button img {
    width: 20rem;
}

#feature-wrap .contents .cont-wrap .cont-card button.sec img {
    width: 42rem;
}

.bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
}