#feature-wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url('/img/main/main-back.png');
    background-repeat:  no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: opacity 0.4s ease;
}

#feature-wrap .overlay {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feature-wrap .menu-toggle-box {
    width: 77.5rem;
    margin-top: 10.75rem;
    background: #00000066;
    border-radius: 2.75rem;
    border: 1px solid rgba(204, 223, 241, 0.08);
    backdrop-filter: blur(24px);
    box-shadow:
            -0.5px -0.5px 0px 0px rgba(255, 255, 255, 0.24) inset,
            0.6px 0.6px 1px 0px rgba(255, 255, 255, 0.12) inset;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature-wrap .menu-toggle-box .menu-toggle {
    flex: 1;
    border-radius: 2.375rem;
    padding: 1rem 0;
    font-size: 1.6875rem;
    font-weight: 700;
    text-align: center;
    color: white;
    opacity: 60%;
    transform: scaleY(0.95);
    transform-origin: center;
    letter-spacing: 0.05em;
    background: transparent;
    border: 1px solid transparent;
    transition: all 0.35s ease-in-out;
}

#feature-wrap .menu-toggle-box .menu-toggle.active {
    background: linear-gradient(0deg, rgba(0, 94, 184, 0.24), rgba(0, 94, 184, 0.24)),
    linear-gradient(107.56deg, rgba(0, 147, 184, 0.12) 0%, rgba(0, 94, 184, 0.32) 69.71%, rgba(0, 94, 184, 0) 100%);
    border: 1px solid rgba(204, 223, 241, 0.12);
    opacity: 100%;
    transition: all 0.35s ease-in-out;
}

#feature-wrap .contents {
    margin-top: 4.5rem;
    width: 100vw;
    padding: 0 11.25rem;
    box-sizing: border-box;
}

#feature-wrap.fade-in {
    opacity: 1;
}

#feature-wrap.fade-out {
    opacity: 0;
}