#overview-wrap {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
}

#overview-wrap .overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
            linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 40%),
            linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 40%);
    z-index: 2;
}

#overview-wrap .contents {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
#overview-wrap .contents.show {
    opacity: 1;
    transform: translateY(0);
}

#overview-wrap .contents h2 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 5rem;
    text-align: center;
    color: #F3F7FD;
}

#overview-wrap .contents p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.75rem;
    text-align: center;
    background: linear-gradient(90deg, #F3F7FD 0%, #919397 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#overview-wrap .contents .bottom-logo {
    opacity: 68%;
}