#header {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100vw;
    height: 154.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3.75rem;
    box-sizing: border-box;
}

#header button {
    border: none;
    background: transparent;
}

#header .header-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    background: linear-gradient(90deg, #F3F7FD 0%, #919397 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}