#wrapper {
    width: 100vw;
    height: 100vh;
    background: url('/img/main-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 11.25rem;
    box-sizing: border-box;
}

#wrapper .prod-vedio {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 60rem;
}

#wrapper .touch-here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;

    animation: float-touch 4s ease-in-out infinite;
}

@keyframes float-touch {
    0% {
        opacity: 0.6;
        transform: translateX(-50%) translateY(20px);
    }
    20% {
        opacity: 0.6;
        transform: translateX(-50%) translateY(20px);
    }
    35% {
        opacity: 1;
        transform: translateX(-50%) translateY(-20px);
    }
    50% {
        opacity: 1;
        transform: translateX(-50%) translateY(-20px);
    }
    65% {
        opacity: 0.6;
        transform: translateX(-50%) translateY(20px);
    }
    100% {
        opacity: 0.6;
        transform: translateX(-50%) translateY(20px);
    }
}
#wrapper .touch-here button {
    background: transparent;
    border: none;
}

#wrapper .touch-here span {
    color: #F3F7FD;
    font-size: 2rem;
    line-height: 2.75rem;
    font-weight: 700;
}

#wrapper .prod-info {
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrapper .prod-info .title {
    margin-bottom: 1.5rem;
}

#wrapper .prod-info .title span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: #CCDFF1;
    display: inline-block;
    margin-bottom: 0.25rem;
}

#wrapper .prod-info .title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: #F3F7FD;
}

#wrapper .prod-info .contents {
    color: white;
    width: 31.25rem;
    border-radius: 1rem;
    background:
            linear-gradient(rgba(204, 223, 241, 0.04), rgba(204, 223, 241, 0.04)),
            linear-gradient(107.56deg, rgba(0, 147, 184, 0.08) 0%, rgba(0, 94, 184, 0.24) 69.71%, rgba(0, 94, 184, 0.04) 100%);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(204, 223, 241, 0.04);
    box-shadow:
            -0.5px -0.5px 0 0 rgba(255, 255, 255, 0.24) inset,
            0.6px 0.6px 1px 0 rgba(255, 255, 255, 0.12) inset,
            0.5px 0.5px 0 0 rgba(255, 255, 255, 0.12) inset;
    overflow: hidden;
}

#wrapper .prod-info .contents ul {
    width: 100%;
    height: 100%;
    padding: 1.25rem 1.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: white;
}

#wrapper .prod-info .contents ul li {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(204, 223, 241, 0.04);
}

#wrapper .prod-info .contents ul li:last-child {
    padding: 0;
}

#wrapper .prod-info .contents ul li span:first-child {
    display: inline-block;
    width: 1.5rem;
}